@model PagedList.IPagedList<Videojuegos_PereraA.Models.Juego>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Juegos";
}

<h2>Lista de Juegos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Juego
            <!-- arrobaHtml.ActionLink("Juego", "Index", new { sortOrder = ViewBag.NameSortParm }) Descomentar si queremos habilitar ordenaciones-->
        </th>
        <th>
            Categoría
            <!-- arrobaHtml.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.NameSortParm }) Descomentar si queremos habilitar ordenaciones-->
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Juego1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Tipo1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdJuego }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdJuego }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdJuego })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetJuegos",
        new { page, sortOrder = ViewBag.CurrentSort }))
